Repository envoyproxy/ai-gateway, pull requests merged in 2025-08, with the labels that each got.

#972 test: openinference span recording from python
  .testcoverage.yml
  .yamllint.ignore
  go.mod
  go.sum
  tests/extproc/extproc_test.go
  tests/extproc/vcr/chat_completions_test.go
  tests/extproc/vcr/custom_metrics_test.go
  tests/extproc/vcr/otel_chat_completions_test.go
  tests/extproc/vcr/otel_propagators_test.go
  tests/extproc/vcr/otel_test.go
  tests/extproc/vcr/vcr_test.go
  tests/internal/testenvironment/test_environment.go
  tests/internal/testopeninference/Dockerfile
  tests/internal/testopeninference/README.md
  tests/internal/testopeninference/assertions.go
  tests/internal/testopeninference/assertions_test.go
  tests/internal/testopeninference/openai_proxy.go
  tests/internal/testopeninference/openai_proxy.py
  tests/internal/testopeninference/recorder.go
  tests/internal/testopeninference/recorder_test.go
  tests/internal/testopeninference/requirements.txt
  tests/internal/testopeninference/server.go
  tests/internal/testopeninference/server_test.go
  tests/internal/testopeninference/spans.go
  tests/internal/testopeninference/spans/README.md
  tests/internal/testopeninference/spans/chat-audio-to-text.json
  tests/internal/testopeninference/spans/chat-bad-request.json
  tests/internal/testopeninference/spans/chat-basic.json
  tests/internal/testopeninference/spans/chat-detailed-usage.json
  tests/internal/testopeninference/spans/chat-image-to-text.json
  tests/internal/testopeninference/spans/chat-json-mode.json
  tests/internal/testopeninference/spans/chat-multimodal.json
  tests/internal/testopeninference/spans/chat-multiturn.json
  tests/internal/testopeninference/spans/chat-no-messages.json
  tests/internal/testopeninference/spans/chat-parallel-tools.json
  tests/internal/testopeninference/spans/chat-reasoning.json
  tests/internal/testopeninference/spans/chat-streaming-detailed-usage.json
  tests/internal/testopeninference/spans/chat-streaming.json
  tests/internal/testopeninference/spans/chat-text-to-audio.json
  tests/internal/testopeninference/spans/chat-text-to-image-tool.json
  tests/internal/testopeninference/spans/chat-tools.json
  tests/internal/testopeninference/spans/chat-unknown-model.json
  tests/internal/testopeninference/spans_test.go
Labels: test

#981 feat: add configurable HTTP request headers to metrics
  cmd/controller/main.go
  cmd/extproc/mainlib/main.go
  cmd/extproc/mainlib/main_test.go
  examples/extproc_custom_metrics/main.go
  filterapi/x/x.go
  internal/controller/controller.go
  internal/controller/gateway_mutator.go
  internal/controller/gateway_mutator_test.go
  internal/extproc/chatcompletion_processor.go
  internal/extproc/embeddings_processor.go
  internal/extproc/mocks_test.go
  internal/internalapi/internalapi.go
  internal/internalapi/internalapi_test.go
  internal/metrics/base_metrics.go
  internal/metrics/chat_completion_metrics.go
  internal/metrics/chat_completion_metrics_test.go
  internal/metrics/embeddings_metrics.go
  internal/metrics/embeddings_metrics_test.go
  manifests/charts/ai-gateway-helm/templates/deployment.yaml
  manifests/charts/ai-gateway-helm/values.yaml
Labels: feature

#1009 fix: gcp auth with proxy settings
  internal/controller/rotators/gcp_oidc_token_rotator.go
  internal/controller/rotators/gcp_oidc_token_rotator_test.go
Labels: bug

#1110 site: add 0.3 release blog
  site/blog/2025/2025-08-22-v0.3-release-announcement.md
  site/blog/2025/images/v0.3-hero.png
Labels: site
