Repository envoyproxy/ai-gateway, pull requests merged in 2025-01, with the labels that each got.

#58 Scaffolds the initial extproc e2e test
  .github/workflows/tests_using_secrets.yaml
  Makefile
  go.mod
  go.sum
  internal/apischema/openai/openai.go
  internal/extproc/mocks_test.go
  internal/extproc/processor.go
  internal/extproc/processor_test.go
  internal/extproc/router/request_body.go
  internal/extproc/translator/openai_awsbedrock.go
  internal/extproc/translator/openai_awsbedrock_test.go
  internal/extproc/translator/openai_openai.go
  internal/extproc/translator/openai_openai_test.go
  internal/extproc/translator/translator.go
  tests/extproc/envoy.yaml
  tests/extproc/extproc_test.go
Labels: safe-to-test

#64 Complete OpenAI to AWS Bedrock conversion
  go.mod
  internal/apischema/awsbedrock/awsbedrock.go
  internal/apischema/openai/openai.go
  internal/apischema/openai/openai_test.go
  internal/extproc/processor.go
  internal/extproc/translator/openai_awsbedrock.go
  internal/extproc/translator/openai_awsbedrock_test.go
Labels: safe to test

#79 Refactor controller args and logs
  cmd/controller/main.go
  internal/controller/controller.go
  internal/controller/llmroute.go
  tests/controller/controller_test.go
Labels: safe to test

#80 Fix backend output schema in extproc configmap
  cmd/extproc/main.go
  internal/controller/sink.go
  internal/controller/sink_test.go
Labels: safe to test

#95 ci: adds event_name to concurrency
  .github/workflows/commit.yaml
Labels: safe to test

#132 translator: toolCalls support in OpenAI to Bedrock
  internal/apischema/awsbedrock/awsbedrock.go
  internal/apischema/openai/openai.go
  internal/extproc/translator/openai_awsbedrock.go
  internal/extproc/translator/openai_awsbedrock_test.go
Labels: safe to test

#125 feat: Implementation of API Key Auth
  filterconfig/filterconfig.go
  internal/controller/ai_gateway_route.go
  internal/controller/ai_gateway_route_test.go
  internal/controller/ai_service_backend.go
  internal/controller/ai_service_backend_test.go
  internal/controller/backend_security_policy.go
  internal/controller/backend_security_policy_test.go
  internal/controller/controller.go
  internal/controller/sink.go
  internal/controller/sink_test.go
  internal/extproc/backendauth/api_key.go
  internal/extproc/backendauth/api_key_test.go
  internal/extproc/backendauth/auth.go
  tests/controller/controller_test.go
  tests/e2e/e2e_test.go
  tests/extproc/envoy.yaml
  tests/extproc/extproc_test.go
Labels: safe to test

#161 feat: implement aws credential file auth
  filterconfig/filterconfig.go
  filterconfig/filterconfig_test.go
  internal/controller/sink.go
  internal/controller/sink_test.go
  internal/extproc/backendauth/aws.go
  internal/extproc/backendauth/aws_test.go
  tests/extproc/extproc_test.go
  tests/extproc/real_providers_test.go
Labels: safe to test

#152 translator: handling for OpenAI and AWSBedrock error response
  extprocapi/extproc.go
  internal/apischema/awsbedrock/awsbedrock.go
  internal/apischema/openai/openai.go
  internal/extproc/mocks_test.go
  internal/extproc/processor.go
  internal/extproc/server_test.go
  internal/extproc/translator/openai_awsbedrock.go
  internal/extproc/translator/openai_awsbedrock_test.go
  internal/extproc/translator/openai_openai.go
  internal/extproc/translator/openai_openai_test.go
  internal/extproc/translator/translator.go
  tests/extproc/testupstream_test.go
Labels: safe to test

#170 e2e: creating e2e agent test for using tools
  internal/apischema/awsbedrock/awsbedrock.go
  internal/extproc/server.go
  internal/extproc/translator/openai_awsbedrock.go
  internal/extproc/translator/openai_awsbedrock_test.go
  tests/extproc/real_providers_test.go
Labels: safe to test

#160 controller: fix watch resources that are created by the controller
  .gitignore
  internal/controller/ai_gateway_route.go
  internal/controller/ai_gateway_route_test.go
  internal/controller/controller.go
  internal/controller/sink.go
  tests/controller/controller_test.go
Labels: safe to test

#213 docs: Moved docs link, and changed Overview to Home of Docs site
  site/docs/index.md
  site/docs/intro.md
  site/docusaurus.config.ts
Labels: documentation

#215 docs: Updating home page of website with updated graphics and color
  site/docusaurus.config.ts
  site/src/components/HomepageFeatures/index.tsx
  site/src/css/custom.css
  site/src/pages/index.module.css
  site/src/pages/index.tsx
  site/src/pages/markdown-page.md
  site/static/img/1.png
  site/static/img/1.svg
  site/static/img/2.png
  site/static/img/2.svg
  site/static/img/3.png
  site/static/img/3.svg
  site/static/img/ai-gateway.svg
  site/static/img/build-together.png
  site/static/img/community.png
  site/static/img/favicon.ico
  site/static/img/launch.png
  site/static/img/logo-white.svg
Labels: site

#225 docs: Adding Google analytics tag, updating site meta description.
  site/docusaurus.config.ts
  site/src/pages/index.tsx
Labels: site

#228 docs: Moved Required tools section of Prerequisite to the top
  site/docs/getting-started/prerequisites.md
Labels: documentation

#223 docs: fix code block indentation
  site/docs/getting-started/connect-providers/index.md
  site/docs/getting-started/connect-providers/openai.md
Labels: documentation

#217 feat: redact sensitive headers and body content in debug logs
  internal/extproc/server.go
  internal/extproc/server_test.go
Labels: feature
