Repository envoyproxy/ai-gateway, pull requests merged in 2025-02, with the labels that each got.

#308 docs: design updates for Generated API Docs
  Makefile
  api/v1alpha1/api.go
  manifests/charts/ai-gateway-helm/crds/aigateway.envoyproxy.io_aigatewayroutes.yaml
  site/crd-ref-docs/config-core.yaml
  site/crd-ref-docs/templates/gv_details.tpl
  site/crd-ref-docs/templates/gv_list.tpl
  site/crd-ref-docs/templates/type.tpl
  site/crd-ref-docs/templates/type_members.tpl
  site/docs/api.md
  site/docs/api/api.mdx
  site/src/components/ApiField.tsx
  site/src/css/custom.css
  site/src/theme/MDXComponents.tsx
Labels: documentation

#314 chore: upgrade docusaurus version to 3.7.0
  site/package-lock.json
  site/package.json
Labels: documentation, dependencies

#338 e2e: add models test using the openai client
  tests/extproc/real_providers_test.go
Labels: safe to test

#349 blog: add KubeCon Keynote Blogpost with Alexa
  netlify.toml
  site/blog/2024-10-18-introducing-envoy-ai-gw.md
  site/blog/2024-11-14-kubecon-end-user-keynote.md
  site/blog/authors.yml
  site/blog/tags.yml
  site/docusaurus.config.ts
Labels: site

#306 feat: implements aws oidc backendSecurityPolicy API
  api/v1alpha1/api.go
  go.mod
  go.sum
  internal/controller/backend_security_policy.go
  internal/controller/backend_security_policy_test.go
  internal/controller/controller.go
  internal/controller/oauth/client_credentials_token_provider.go
  internal/controller/oauth/client_credentials_token_provider_test.go
  internal/controller/oauth/oidc_provider.go
  internal/controller/oauth/oidc_provider_test.go
  internal/controller/oauth/types.go
  internal/controller/oauth/util.go
  internal/controller/oauth/util_test.go
  internal/controller/rotators/aws_common.go
  internal/controller/rotators/aws_common_test.go
  internal/controller/rotators/aws_oidc_rotator.go
  internal/controller/rotators/aws_oidc_rotator_test.go
  internal/controller/rotators/common.go
  internal/controller/rotators/common_test.go
  internal/controller/sink.go
  internal/controller/sink_test.go
  manifests/charts/ai-gateway-helm/crds/aigateway.envoyproxy.io_backendsecuritypolicies.yaml
  manifests/charts/ai-gateway-helm/templates/deployment.yaml
  manifests/charts/ai-gateway-helm/values.yaml
  tests/crdcel/testdata/backendsecuritypolicies/aws_oidc.yaml
Labels: feature, go

#365 site: fix hero button placement on homepage for small screens
  site/src/css/custom.css
Labels: site
